<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Kemin_Yolk_Sensor.Kemin_Yolk_Sensor" android:versionCode="1" android:versionName="1.4" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:allowBackup="true" android:icon="@drawable/keminlogo" android:label="8SCAN™"></application>
</manifest>